<html>
    <head>
        <title>
            Newflix - a poor Netflix clone :-)
        </title>
        <link rel="stylesheet" href="styles.css">
        <script defer src="app.js" type="module"></script>
    </head>
    <body>

        <div id="app" v-cloak>
            <h1>{{ message }}</h1>

            <p v-if="loading">
                Loading movies...
            </p>

            <input :disabled="loading" v-model="search" type="text" placeholder="Search for your favourite movie!">
            
            <br>

            <p v-if="search.length < 3">
                Search term too short!
            </p>
            <p v-if="search">
                You are searching for: {{ search }}
            </p>
            <p v-else>
                You have no search term yet!
            </p>

            <section id="recommendations">

                <!-- Wrapper for the movie summary -->
                <div class="movie" v-for="movie in moviesToDisplay">
                    <h2 id="title1" class="renameable" @click="renameTitle(movie)">
                        {{ movie.title }}   
                    </h2>
    
                    <div class="poster" :style="getMoviePosterStyle(movie)"></div>
                    <!-- <img src="https://cdn.shopify.com/s/files/1/0037/8008/3782/products/IMG_1189-1_1024x1024@2x.jpg?v=1659453869" alt=""> -->
                    <h3 class="renameable">
                        <a href="https://www.bbfc.co.uk/release/the-matrix-film-qxnzzxq6vlgtnjc0nje5">
                            Rated 15 bbfc
                        </a>
                    </h3>
                    <h3 class="renameable">
                        <!-- Fix this - loop over the array of directors to display them -->
                        <strong>Director(s)</strong>
                        <span v-for="director in movie.directors">{{ director }} </span>
                    </h3>
                    <h3>
                        <!-- Fix this - loop over the cast to display them -->
                        <strong>Cast</strong>
                        <span v-for="actor in actors">
                            {{ actor }}
                        </span>
                    </h3>
                    <p class="renameable">
                        Summary....
                    </p>
                </div>
            </section>
        </div>
    </body>
</html>