.movie {
    width: 280px;
    font-family: 'Open Sans';
    margin: 15px;
    padding: 30px;
    background-color: lightgoldenrodyellow;
}

.movie:hover {
    background-color: darkblue;
    color: whitesmoke;
    transition: 1s all;
}

.movie:hover .poster {
    transform: scale(1.1);
    transition: 1s;
}

.movie h3 {
    font-size: 1.2em;
    font-weight: 100;
}

.movie img {
    width: 100%;
    height: 350px;
}

#recommendations {
    display: inline-flex;
}

.poster {
    height: 350px;
    background-size: cover;
}

.renameable:hover {
    cursor: pointer;
}

[v-cloak] {
    display: none;
}