[v-cloak] {
    display: none;
}

.movie .poster {
    height: 350px;
    background-size: cover;
}

.fade-enter-active,
.fade-leave-active,
.fade-move {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  position: absolute;
}